body {
  background-color: rgb(26, 26, 28);
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#bg {
  position: fixed;
  z-index: -1;
  transform: scale(1.5);
  margin-top: 15vh;
  filter: blur(128px);
  animation: bg 1s;
}

main {
  margin-top: 20vh;
  background-color: black;
  padding: 72px;
  border-radius: 8px;
  height: 50vh;
  width: 33vw;
  text-align: center;
  box-shadow: 0 0 128px black;
  animation: start 2s forwards;
  overflow-y: scroll;
}

.headline {
  font-size: 36px;
  letter-spacing: 3px;
}

.subline {
  margin-top: 24px;
  letter-spacing: 6px;
  font-size: 18px;
}

.content-container {
  padding-left: 128px;
  padding-right: 128px;
}
.content-intro {
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  line-height: 36px;
  font-size: 22px;
}
.check {
  width: 24px;
  margin-right: 12px;
  cursor: pointer;
}
.agree {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.boot {
  margin-top: 96px;
  padding: 16px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  border: solid 1px red;
  box-shadow: 0 0 36px red;
  transform: scale(1);
  cursor: pointer;
  animation: button 2s ease-in-out infinite;
}

.warning {
  position: fixed;
  bottom: 8px;
  color: grey;
  font-size: 8px;
  text-align: center;
}

#bottom-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 36px;
  padding-right: 36px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5vh;
  z-index: 5;
  background-color: rgb(0, 0, 0);
}
.beta {
  background-color: rgba(255, 0, 0, 0.74);
  border-radius: 4px;
  padding: 2px 6px 2px 6px;
}
.bottom-l,
.bottom-c,
.bottom-r {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-l {
  flex: 1;
}
.bottom-r {
  flex: 1;
  padding-left: 144px;
}
.bottom-c {
  flex: 4;
}