body {
  background-color: rgb(26, 26, 28);
  padding: 0;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#bg {
  position: fixed;
  z-index: -1;
  transform: scale(1.5);
  margin-top: 15vh;
  filter: blur(128px);
  animation: bg 1s;
}

main {
  margin-top: 10vh;
  background-color: black;
  padding: 72px;
  border-radius: 8px;
  height: 65vh;
  width: 33vw;
  text-align: center;
  box-shadow: 0 0 128px black;
  animation: start 2s forwards;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 36px;
  letter-spacing: 3px;
}

.subline {
  margin-top: 24px;
  letter-spacing: 6px;
  font-size: 18px;
}

.content-container {
  padding-left: 2vw;
  padding-right: 2vw;
  display: flex;
  flex-direction: column;
}
.content-intro {
  margin-top: 5vh;
  margin-bottom: 2.5vh;
  line-height: 36px;
  font-size: 22px;
}
.check {
  width: 24px;
  margin-right: 12px;
  cursor: pointer;
}
.agree {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.boot {
  margin-top: 96px;
  padding: 16px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  color: white;
  background-color: black;
  border: solid 1px red;
  box-shadow: 0 0 36px red;
  transform: scale(1);
  cursor: pointer;
  animation: button 2s ease-in-out infinite;
}

.warning {
  position: fixed;
  bottom: 8px;
  color: grey;
  font-size: 8px;
  text-align: center;
}
.beta {
  background-color: rgb(194, 0, 0);
  padding: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 4px;
}
